@import url("./global.css");

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 139px;
    border-bottom: 10px solid var(--color-secondary);
    background-color: var(--color-secondary);

}

.container-herader{
    display: flex;
    align-items: center;
    gap: 46px;
}

.navigation-hearder ul{
    display: flex;
    gap: 46px;
    list-style: none;
}

.navigation-hearder ul li a{
    text-decoration: none;
    color: var(--color-nautral-white);
    font-family: var(--font-family-primaryont-family-primary);
}
.navigation-hearder ul lu .menu-active{
    color: var(--color-nautral-white);
}

.btn-hearder{
    font-family:var(--font-family-primary);
    color: var(--color-nautral-white);
    text-decoration: none;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: var(--font-weight-button);
}
 
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-secondary);
    padding: 50px 0;
 }

.main-content{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    color: var(--color-nautral-white);
    width: 499px;

}

.main-content h1{
    font-size: var(--font-size-h1);
    font-weight:var(--font-weight-h1);
    font-family: var(--font-family-primary);
}

.main-content h1 span{
    color: var(--color-primary);
}

.main-content p{
    font-family: var(--font-family-primary);
    font-size: var(-font-size-body);
    color: var(--color-nautral-white);   
}

.mian-conteainer-cta{
    display: flex;
    gap: 25px;
}

.main-btn-primary{
    display: flex;
    font-family: var(--font-family-primary);
    font-weight: var(--font-size-button);
    font-size: var(--font-size-button);
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid var(--color-primary);
    color: var(--color-nautral-white);

}

.section-services{
   display: flex;
   background-color: var(--color-nautral-white);
   justify-content: center;
   align-items: center;
   gap: 100px;
   padding: 60px;
}

.senai-sevirces{
    display:flex;
    flex-direction: column;
    gap: 30px;
    width: 603px;
}

.senai-sevirces h2{
    font-family: var(--font-family-primary);
    font-size: var( --font-size-h2);
    font-weight: var(--font-weight-h2);
}

.senai-sevirces h2 span{
    color: var(--color-primary);
}

.senai-sevirces p{
    font-family: var(--font-family-primary);
    gap: 30px;
}

.