@import url("./global.css");

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px;
    border-bottom: 10px solid var(--color-primary);

}

.container-herader{
    display: flex;
    align-items: center;
    gap: 46px;
}